body {
  background: white;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.dropdown {
    overflow-wrap: wrap;
  margin: 0 auto;
   background: rgb(5, 141, 73);
}
.std-box{
/* center */
width: 1100px;
margin: 0 auto;
}

nav {
  height: 70px;
 
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.logo {
 padding-top: 20px;
  width: 170px;
  height: auto;
}
nav ul {
  padding: 0;
  margin: 0;
  float: right;
  margin-right: 30px;
}
nav ul li {
  background: rgb(5, 141, 73);
  position: relative;
  list-style: none;
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 0 15px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  font-size: 15px;
}
 nav ul ul li a:hover {
  background: rgb(143, 252, 210);
  opacity: 0.95;

} 
nav ul ul {
  position: absolute;
  top: 60px;
  display: none;
}
nav ul li:hover > ul {
  display: block;
  
}
nav ul ul li {
  width: 150px;
  float: none;
  display: list-item;
  position: relative;
}
/* services */
section h1{
    text-align: center;
    font-size: 30px;
    outline: 0 0 0 10px solid black;
}
section hr{
    width: 100px;
    margin-top: 0;
    text-align: center;
    color: #ff9800;
}

/* left */
.left{
float: left;
width: 40%;
}
.right{
float: right;
width: 60%;
}
section .list{
    list-style-type: none;
    
}
section .list li{
    padding: 5px;
    
}
.sec{
    height: 500px;
    margin-bottom: 15px;
}
/* image Gallery */

div .gallery {
  margin: 5px;
  padding: 4px;
  border: 1px solid #ccc;
  float: right;
  transition: ease 1s;
  width: 45%;
}

div.gallery:hover {
    transition:  0.1s;
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 180px;
}


/* footer design */
.footer {
		width: 100%;
		background: #ced9df;
		display: block;
	}
.inner-footer {
		width: 95%;
		margin: auto;
		padding: 30px 10px;
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		justify-content: center;
	}
.footer-items {
		width: 30%;
		padding: 1px 20px;
		box-sizing: border-box;
  }
  h2 {
		margin: 10px 0;
		color: rgb(75, 74, 74);
		font-size: 16px;
		font-weight: lighter;
		text-transform: uppercase;
	}

	.border {
		width: 40px;
		height: 2px;
		background: #ff9800;
  }
  .footer-items ul {
		list-style: none;
		color: rgb(32, 29, 29);
		font-size: 15px;
		letter-spacing: 0.5px;
	}

.footer-items	ul a {
		text-decoration: none;
		outline: none;
		color: rgb(82, 80, 80);
		transition: 0.3s;

	}

	.footer-items ul a:hover {
		color: #ff9800;
  }
  .footer-items ul li{
   	margin: 10px 0;
		height: 24px; 
  }
  .footer-items li i {
		margin-right: 20px;

  }
  	.footer-bottom {
		padding: 10px;
    background: rgb(6, 109, 57);
    text-align: center;
		color: #fff;
		font-size: 15px;
  }
  .footer-bottom a{
    font-weight: bold;
    color: black;
  }
  
